
body{
    background-color: #F6EEC9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main-div{
    display: flex;
    flex-direction: row;
}
#main-div > #green-div{
    height: 800px;
    width: 200px;
    background-color: #008C45;
}
#main-div > #white-div{
    height: 800px;
    width: 200px;
    background-color: #F4F9FF;
}
#main-div > #red-div{
    height: 800px;
    width: 200px;
    background-color: #CD212A;
}